p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.profile-preview{
    /* width: 250px; */
    height: 60px;
}

.profile-place{
    display: inline-block;
    width: 36px;
    vertical-align: top;
}

.profile-picture{
    width: 100%;
    border-radius: 50%;
}

.profile-info{
    display: inline-block;
}

.profile-name{

    font-size: 16px;
    font-weight: medium;
    color: black;
    margin-bottom: 5px;

}

.profile-info, .profile-popularity{

    font-size: 14px;
    color: gray;
    width: 150px;

}

.button-place{
    display: inline-block;
    vertical-align: middle;

   
}

.follow-button{

    color: white;
    background-color: rgba(25, 25, 235, 0.904);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    
}


