
.firstName, .lastName{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: rgb(223, 210, 210);
    box-shadow: none;
    border-style: solid;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

.firstName:focus, .lastName:focus, .Email:focus{
    border-color: blue;
    outline: none;
    transition: 0.15s;
}

.Email{
    display: block;
    font-size: 18px;
    width: 465px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: rgb(223, 210, 210);
    box-shadow: none;
    border-style: solid;
    padding-left: 15px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 10px;
    transition: opacity 0.15s;
}

button{
    width: 480px;
    color: white;
    background-color: rgb(32, 32, 252);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Arial;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;

}

button:active{
    opacity: 0.5;
}

